<h2>About</h2>
<p>BkSwapper is a tool for exchanging books on campus. It allows you to post the books you have but would like to trade away and the books that you would like. If one of your "haves" matches with somebody else's "wants", and one of their "haves" matches with one of your "wants", both people will be notified by text message.</p>
